@media (max-width: 640px) {
    .nav-primary {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .solo {
        text-align: center;
    }

    .second-row {
        flex-direction: column;
    }

    .mixr-left, .urbeats-right {
        width: 100%;
        align-items: center;
        background-size: cover;
        padding: 2em 0;
    }

    .studio {
        text-align: center;
    }

    .grid-gallery {
        display: inline-block;
    }

    .product-img {
        width: 45%;
    }
}